.delete {
  @include flex(column, nowrap, center, center, 1em);
  width: 20em;
  background: #fff;
  border-radius: 1.5em;
  color: #000;
  padding: 0.5em;
  text-align: center;
  &__buttons {
    @include flex(row, nowrap, center, center, 1em);
  }
  &__si {
    background: $red;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    color: #fff;
    font-weight: bold;
    transition: 0.5s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__no {
    background: rgb(155, 222, 50);
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    color: #fff;
    font-weight: bold;
    transition: 0.5s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}
